body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --caption-work-sans: "Work Sans";
    --h5-space-mono: "Space Mono";
  
    /* font sizes */
    --caption-work-sans-size: 12px;
    --basebody-work-sans-size: 16px;
    --h5-space-mono-size: 22px;
    --font-size-lg: 18px;
    --font-size-5xl: 24px;
    --h2-work-sans-size: 51px;
  
    /* Colors */
    --background: #7b3c9f;
    --background-secondary: #3b3b3b;
    --color-lightgray: #ccc;
    --caption-label-text: #858584;
    --text: #fff;
    --call-to-action: #a259ff;
    --color-blueviolet-100: #8a40e6;
  
    /* Gaps */
    --gap-11xl: 30px;
    --gap-mini: 15px;
    --gap-6xl: 25px;
    --gap-xl: 20px;
    --gap-xs: 12px;
    --gap-3xs: 10px;
    --gap-12xs: 1px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-lgi: 19px;
    --padding-4xs: 9px;
    --padding-81xl: 100px;
    --padding-23xl: 42px;
    --padding-46xl: 65px;
    --padding-xs: 12px;
    --padding-3xs: 10px;
    --padding-6xl: 25px;
  
    /* Border radiuses */
    --br-xl: 20px;
  }
  
  