<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global6.css" />
    <link rel="stylesheet" href="./avatar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,400;0,600;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Mono:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="avatars">
      <section class="main-layout">
        <div class="shape-container"></div>
        <b class="avatars1">Avatars</b>
      </section>
      <section class="avatar-layout-wrapper">
        <div class="avatar-layout">
          <div class="avatar-row">
            <img
              class="avatar-1-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a1.jpg"
              id="popupavatar1Image"
            />

            <img
              class="avatar-2-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a2.jpg"
              id="popupavatar2Image"
            />

            <img
              class="avatar-3-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a3.jpg"
              id="popupavatar3Image"
            />

            <img
              class="avatar-4-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a4.jpeg"
              id="popupavatar4Image"
            />

            <img
              class="avatar-5-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a5.jpg"              
              id="popupavatar5Image"

            />

            <img
              class="avatar-6-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a6.jpg"
              id="popupavatar6Image"
            />

            <img
              class="avatar-7-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a7.jpg"
              id="popupavatar7Image"
            />

            <img
              class="avatar-8-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a8.jpg"
              id="popupavatar8Image"
            />

            <img
              class="avatar-9-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a9.jpg"
              id="popupavatar9Image"
            />

            <img
              class="avatar-10-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a10.jpg"
              id="popupavatar10Image"
            />
        </div>
        <div class="avatar-grid">
          <div class="avatar-11-parent">
            <img
              class="avatar-11-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a11.jpg"
              id="popupavatar11Image"
            />

            <img
              class="avatar-16-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a16.jpg"
              id="popupavatar16Image"
            />
          </div>
          <div class="avatar-12-parent">
            <img
              class="avatar-12-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a12.jpg"
              id="popupavatar12Image"
            />

            <img
              class="avatar-17-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a17.jpg"
              id="popupavatar17Image"
            />
          </div>
          <div class="avatar-13-parent">
            <img
              class="avatar-13-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a13.jpg"
              id="popupavatar13Image"
            />

            <img
              class="avatar-18-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a18.jpeg"
              id="popupavatar18Image"
            />
          </div>
          <div class="avatar-14-parent">
            <img
              class="avatar-14-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a14.jpg"
              id="popupavatar14Image"
            />

            <img
              class="avatar-19-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a19.jpg"
              id="popupavatar19Image"
            />
          </div>
          <div class="avatar-15-parent">
            <img
              class="avatar-15-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a15.jpg"
              id="popupavatar15Image"
            />

            <img
              class="avatar-20-icon"
              loading="lazy"
              alt=""
              src="assets/avatars/a20.jpg"
              id="popupavatar20Image"
            />
          </div>
        </div>
      </div>
    </section>
  </div>

  <script>
    var popupavatar1Image = document.getElementById("popupavatar1Image");
    if (popupavatar1Image) {
      popupavatar1Image.addEventListener("click", function (e) {
        window.location.href = "./profile.html";
      });
    }
    
    var popupavatar2Image = document.getElementById("popupavatar2Image");
    if (popupavatar2Image) {
      popupavatar2Image.addEventListener("click", function (e) {
        window.location.href = "./profile.html";
      });
    }
      
      var popupavatar3Image = document.getElementById("popupavatar3Image");
      if (popupavatar3Image) {
        popupavatar3Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar4Image = document.getElementById("popupavatar4Image");
      if (popupavatar4Image) {
        popupavatar4Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      var popupavatar5Image = document.getElementById("popupavatar5Image");
      if (popupavatar5Image) {
        popupavatar5Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }

      var popupavatar6Image = document.getElementById("popupavatar6Image");
      if (popupavatar6Image) {
        popupavatar6Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar7Image = document.getElementById("popupavatar7Image");
      if (popupavatar7Image) {
        popupavatar7Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar8Image = document.getElementById("popupavatar8Image");
      if (popupavatar8Image) {
        popupavatar8Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar9Image = document.getElementById("popupavatar9Image");
      if (popupavatar9Image) {
        popupavatar9Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar10Image = document.getElementById("popupavatar10Image");
      if (popupavatar10Image) {
        popupavatar10Image.addEventListener("click", function (e) {
            window.location.href = "./profile.html";
        });
      }
      
      var popupavatar11Image = document.getElementById("popupavatar11Image");
      if (popupavatar11Image) {
        popupavatar11Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar16Image = document.getElementById("popupavatar16Image");
      if (popupavatar16Image) {
        popupavatar16Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar12Image = document.getElementById("popupavatar12Image");
      if (popupavatar12Image) {
        popupavatar12Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar17Image = document.getElementById("popupavatar17Image");
      if (popupavatar17Image) {
        popupavatar17Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar13Image = document.getElementById("popupavatar13Image");
      if (popupavatar13Image) {
        popupavatar13Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar18Image = document.getElementById("popupavatar18Image");
      if (popupavatar18Image) {
        popupavatar18Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar14Image = document.getElementById("popupavatar14Image");
      if (popupavatar14Image) {
        popupavatar14Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar19Image = document.getElementById("popupavatar19Image");
      if (popupavatar19Image) {
        popupavatar19Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar15Image = document.getElementById("popupavatar15Image");
      if (popupavatar15Image) {
        popupavatar15Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar20Image = document.getElementById("popupavatar20Image");
      if (popupavatar20Image) {
        popupavatar20Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      </script>
  </body>
</html>