<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./careerotaku.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="careerotaku">
      <img class="banner-icon" alt="" src="assets/2.gif" />

      <section class="expect-advice-and-tools-to-ach-parent">
        <h3 class="expect-advice-and">
          Expect advice and tools to achieve your career Goals
        </h3>
        <h1 class="kickstart-and-advance">Kickstart and advance your Career</h1>
      </section>
      <button class="button" id="button">
        <div class="rocketlaunch-wrapper">
          <img
            class="rocketlaunch-icon"
            alt=""
            src="assets/rocket.png"
          />
        </div>
        <div class="button1">Get Started</div>
      </button>
    </div>

    <script>
      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          //  "Homepage (desktop)"
          window.location.href = "index.html"; 

        });
      }
      </script>
  </body>
</html>