<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global3.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,400;0,600;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Mono:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="homepage-desktop">
      <header class="navigation">
        <div class="nav-logo" id="navLogo">
          <img
            class="bird-2-removebg-preview-1-icon"
            loading="lazy" src="assets/logo.png" height="50"  width="50"/>


          <h3 class="careerotaku">CareerOtaku</h3>
        </div>
        <div class="nav-nav-menu">
          <div class="marketplace">
            <img
              class="rocketlaunch-icon"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button" id="buttonText">Career Test</div>
          </div>
          <div class="rankings" id="rankingsContainer">
            <img
              class="rocketlaunch-icon1"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button1">Job Search</div>
          </div>
          <div class="connect-a-wallet" id="connectAWallet">
            <img
              class="rocketlaunch-icon2"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button2">Profile</div>
          </div>
          <button class="sign-up" id="signUp">
            <img class="user-icon" alt="" src="assets/user.png" />

            <div class="button3">Sign Up</div>
          </button>
        </div>
      </header>
      <img
        class="hero-section-icon"
        alt=""
        src="assets/min.png"
      />

      <section class="how-it-works">
        <div class="section-headline">
          <h1 class="how-it-works1">How it works</h1>
          <h3 class="find-out-how">Find out how to get started</h3>
        </div>
        <div class="card-row">
          <div class="info-card">
            <img class="icon" loading="lazy" alt="" src="assets/icon11.png" />

            <div class="card-details">
              <h3 class="setup-your-wallet-container">
             
                <p class="check-what">Check what</p>
                <p class="career-suits-you">career suits you</p>
              </h3>
              <div class="set-up-your">
                Take the career Test to find suits you and what your interested
                in
              </div>
            </div>
          </div>
          <div class="info-card1">
            <img
              class="icon1"
              loading="lazy"
              alt=""
              src="assets/icon12.png"
            />

            <div class="card-details1">
              <h3 class="setup-your-wallet">Create Profile</h3>
              <div class="set-up-your1">
                Upload your photo and describe your interest.
              </div>
            </div>
          </div>
          <div class="info-card2">
            <img
              class="icon2"
              loading="lazy"
              alt=""
              src="assets/icon13.png"
            />

            <div class="card-details2">
              <h3 class="setup-your-wallet1">Explore</h3>
              <div class="set-up-your2">You can explore our website.</div>
            </div>
          </div>
        </div>
      </section>
      <section class="subscribe-widget">
        <div class="subscribe-widget1">
          <img
            class="photo-icon"
            loading="lazy"
            alt=""
            src="assets/feedback.jpg"
          />

          <div class="subscription-content">
            <div class="headline-subhead">
              <h1 class="contact-us">FEEDBACK</h1>
              <h3 class="feel-free-to">Mail your Feedback!</h3>
            </div>
            <div class="subscribe-form" id="subscribeFormContainer">
              <div class="enter-your-email">Write your feedback</div>
              <button class="button4" id="button">
                <img
                  class="envelopesimple-icon"
                  alt=""
                  src="assets/email.png"
                />

                <div class="button5">Email</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-info">
          <div class="nft-marketplace-info">
            <div class="nav-logo1">
              <img
                class="bird-2-removebg-preview-1-icon1"
                loading="lazy"
                alt=""
                src="assets/logo.png" 
              />

              <h3 class="careerotaku1">CareerOtaku</h3>
            </div>
            <div class="additional-info">
              <div class="a-place-to">A place to find yourself</div>
              <div class="community-info">
                <div class="join-our-community">Join our community</div>
                <div class="icons">
                  <img
                    class="discordlogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/tele.png"
                    id="discordLogoIcon"
                  />

                  <img
                    class="youtubelogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/you.png"
                    id="youtubeLogoIcon"
                  />

                  <img
                    class="twitterlogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/whatsapp.png"
                    id="twitterLogoIcon"
                  />

                  <img
                    class="instagramlogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/insta.png"
                    id="instagramLogoIcon"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="explore">
            <h3 class="explore1">Explore</h3>
            <div class="pages">
              <div class="career-test">Career Test</div>
              <div class="job-search">Job Search</div>
            </div>
          </div>
          <div class="subscribe">
            <h3 class="contact-us1">Contact us</h3>
            <div class="subscribe-form-info">
              <div class="write-your-quries">Write your quries</div>
              <div class="subscribe-form1">
                <div class="enter-your-email1">Write your Queriees</div>
                <button class="button6" id="button1">
                  <img
                    class="envelopesimple-icon1"
                    alt=""
                    src="assets/email.png"
                  />

                  <div class="button7">Email us</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="divider"></div>
          <div class="nft-market-use">
            Ⓒ NFT Market. Use this template freely.
          </div>
        </div>
      </footer>
    </div>

    <script>
      var buttonText = document.getElementById("buttonText");
      if (buttonText) {
        buttonText.addEventListener("click", function (e) {
          //  "Career Test" to the project
          window.location.href ="Careertest.html"

        });
      }
      var navLogo = document.getElementById("navLogo");
      if (navLogo) {
        navLogo.addEventListener("click", function (e) {
          // Please sync "CareerOtaku" to the project
          window.location.href ="careerotaku.html"

        });
      }
      
      var rankingsContainer = document.getElementById("rankingsContainer");
      if (rankingsContainer) {
        
        rankingsContainer.addEventListener("click", function (e) {
          // Please sync "Job Search" to the project
          window.location.href = "job-search.html"; 

        });
      }
      
      var connectAWallet = document.getElementById("connectAWallet");
      if (connectAWallet) {
        connectAWallet.addEventListener("click", function (e) {
          //profile
          window.location.href = "profile.html"; 
        });
      }
      
      var signUp = document.getElementById("signUp");
      if (signUp) {
        signUp.addEventListener("click", function (e) {
          //signin
          window.location.href = "signin.html"; 
        });
      }
      
      const button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function () {
          window.location.href = "mailto:cecilia14062004@gmail.com";
        });
      }
      
      const subscribeFormContainer = document.getElementById(
        "subscribeFormContainer"
      );
      if (subscribeFormContainer) {
        subscribeFormContainer.addEventListener("click", function () {
          window.location.href = "mailto:cecilia14062004@gmail.com";
        });
      }
      
      var discordLogoIcon = document.getElementById("discordLogoIcon");
      if (discordLogoIcon) {
        discordLogoIcon.addEventListener("click", function () {
          window.open("https://t.me/+125WY9rDlIQ3YzI1");
        });
      }
      
      var youtubeLogoIcon = document.getElementById("youtubeLogoIcon");
      if (youtubeLogoIcon) {
        youtubeLogoIcon.addEventListener("click", function () {
          window.open("https://youtube.com/@user-vx9ps6dx6j?si=vBeSAT4pNS0RmQkQ");
        });
      }
      
      var twitterLogoIcon = document.getElementById("twitterLogoIcon");
       if (twitterLogoIcon) {
        twitterLogoIcon.addEventListener("click", function () {
          window.open("https://chat.whatsapp.com/GjA2bM8lCRk48ER2Kk7L97");
        });
      }
      
      var instagramLogoIcon = document.getElementById("instagramLogoIcon");
      if (instagramLogoIcon) {
        instagramLogoIcon.addEventListener("click", function () {
          window.open(
            "https://www.instagram.com/career_guidance_platform?utm_source=qr&igsh=amtreGx3djFubjg4"
          );        });
      }
      
      const button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function () {
          window.location.href = "mailto:guidingcareerpaths@gmail.com";
        });
      }
      </script>
  </body>
</html>