<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global5.css" />
    <link rel="stylesheet" href="./job-search1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,400;0,600;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Mono:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="job-search">
      <header class="navigation">
        <div class="nav-logo" id="navLogo">
          <img
            class="bird-2-removebg-preview-1-icon"
            loading="lazy"
            alt=""
            src="assets/logo.png"
          />

          <h3 class="careerotaku">CareerOtaku</h3>
        </div>
        <div class="nav-nav-menu">
          <div class="marketplace" id="marketplaceContainer">
            <img
              class="rocketlaunch-icon"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button">Career Test</div>
          </div>
          <div class="rankings">
            <img
              class="rocketlaunch-icon1"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button1">Job Search</div>
          </div>
          <div class="connect-a-wallet">
            <img
              class="rocketlaunch-icon2"
              alt=""
              src="assets/rocket.png"
            />
            <div class="button2" id="buttonText2">Profile</div>
          </div>
          <button class="sign-up" id="signUp">
            <img class="user-icon" alt="" src="assets/user.png" />

            <div class="button3">Sign Up</div>
          </button>
        </div>
      </header>
      <main class="marketplace-section">
        <button class="line-parent">
          <div class="instance-child"></div>
          <div class="content-area">
            <div class="tabs-container">
              <div class="tabs">
                <div class="tab">
                  <div class="created">JOB SEARCH</div>
                  <div class="wrapper">
                    <div class="div">302</div>
                  </div>
                </div>
                <div class="tab1">
                  <div class="created1">ALL DOMAIN</div>
                  <div class="container">
                    <div class="div1">67</div>
                  </div>
                </div>
                <div class="tab2">
                  <div class="created2">Collection</div>
                  <div class="frame">
                    <div class="div2">4</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </button>
        <section class="nft-cards-section">
          <div class="collection-card-row">
            <div class="collection-card">
              <div class="photos-number-of-additional">
                <img
                  class="primary-photo-placeholder"
                  loading="lazy"
                  alt=""
                  src="assets/photo.jpg"
                />

                <div class="secondary-photo-placeholder-parent">
                  <img
                    class="secondary-photo-placeholder"
                    alt=""
                    src="assets/photo.jpg"
                  />

                  <img
                    class="secondary-photo-placeholder1"
                    alt=""
                    src="assets/photo.jpg"
                  />

                  <div class="number-of-additional-nfts">
                    <b class="b">1025+</b>
                  </div>
                </div>
              </div>
              <div class="collection-info">
                <h3 class="collection-name">
                  <p class="personal-photographer">Personal Photographer</p>
                  <p class="yrs1-2-lacs-pa">凸 1-2 Yrs|1-2 Lacs PA</p>
                  <p class="vasai-mumbai">Vasai, Mumbai</p>
                </h3>
                <div class="artist-card">
                  <div class="avatar">
                    <img
                      class="asset-12-2"
                      alt=""
                      src="assets/photo.jpg"  height="200" width="200"
                    />
                  </div>
                  <div class="artist-name">Contact us: 8667823561</div>
                </div>
              </div>
            </div>
            <div class="collection-card1">
              <div class="photos-number-of-additional1">
                <img
                  class="primary-photo-placeholder1"
                  loading="lazy"
                  alt=""
                  src="assets/argri.jpg"
                />

                <div class="secondary-photo-placeholder-group">
                  <img
                    class="secondary-photo-placeholder2"
                    alt=""
                    src="assets/argri.jpg"
                  />

                  <img
                    class="secondary-photo-placeholder3"
                    alt=""
                    src="assets/argri.jpg"
                  />

                  <div class="number-of-additional-nfts1">
                    <b class="b1">1025+</b>
                  </div>
                </div>
              </div>
              <div class="collection-info1">
                <h3 class="collection-name1">
                  <p class="agriculturist">Agriculturist</p>
                  <p class="yrs3-4-lacs-pa">凸 1-2 Yrs|3-4 Lacs PA</p>
                  <p class="mahim-mumbai">Mahim, Mumbai</p>
                </h3>
                <div class="artist-card1">
                  <div class="avatar1">
                    <img
                      class="asset-12-21"
                      alt=""
                      src="assets/argri.jpg"
                    />
                  </div>
                  <div class="artist-name1">Contact us: 8667878561</div>
                </div>
              </div>
            </div>
            <div class="collection-card2">
              <div class="photos-number-of-additional2">
                <img
                  class="primary-photo-placeholder2"
                  loading="lazy"
                  alt=""
                  src="assets/software.jpg"
                />

                <div class="secondary-photo-placeholder-container">
                  <img
                    class="secondary-photo-placeholder4"
                    alt=""
                    src="assets/software.jpg"
                  />

                  <img
                    class="secondary-photo-placeholder5"
                    alt=""
                    src="assets/software.jpg"
                  />

                  <div class="number-of-additional-nfts2">
                    <b class="b2">1025+</b>
                  </div>
                </div>
              </div>
              <div class="collection-info2">
                <h3 class="collection-name2">
                  <p class="software-developer">Software Developer</p>
                  <p class="yrs8-10-lacs-pa">凸 1-2 Yrs|8-10 Lacs PA</p>
                  <p class="vasai-mumbai1">Vasai, Mumbai</p>
                </h3>
                <div class="artist-card2">
                  <div class="avatar2">
                    <img
                      class="asset-12-22"
                      alt=""
                      src="assets/software.jpg"
                    />
                  </div>
                  <div class="artist-name2">Contact us: 6732891563</div>
                </div>
              </div>
            </div>
          </div>
          <div class="collection-card-row1">
            <div class="collection-card-row2">
              <div class="collection-card3">
                <div class="photos-number-of-additional3">
                  <img
                    class="primary-photo-placeholder3"
                    loading="lazy"
                    alt=""
                    src="assets/data.jpg"
                  />

                  <div class="frame-div">
                    <img
                      class="secondary-photo-placeholder6"
                      alt=""
                      src="assets/data.jpg"
                    />

                    <img
                      class="secondary-photo-placeholder7"
                      alt=""
                      src="assets/data.jpg"
                    />

                    <div class="number-of-additional-nfts3">
                      <b class="b3">1025+</b>
                    </div>
                  </div>
                </div>
                <div class="collection-info3">
                  <h3 class="collection-name3">
                    <p class="data-analyst">Data analyst</p>
                    <p class="yrs15-20-lacs-pa">凸 1-2 Yrs|15-20 Lacs PA</p>
                    <p class="bandra-mumbai">Bandra, Mumbai</p>
                </h3>
                <div class="artist-card3">
                  <div class="avatar3">
                    <img
                      class="asset-12-23"
                      alt=""
                      src="assets/data.jpg"
                    />
                  </div>
                  <div class="artist-name3">Contact us: 8667823564</div>
                </div>
              </div>
            </div>
            <div class="collection-card4">
              <div class="photos-number-of-additional4">
                <img
                  class="primary-photo-placeholder4"
                  loading="lazy"
                  alt=""
                  src="assets/hacker.jpg"
                />

                <div class="secondary-photo-placeholder-parent1">
                  <img
                    class="secondary-photo-placeholder8"
                    alt=""
                    src="assets/hacker.jpg"
                  />

                  <img
                    class="secondary-photo-placeholder9"
                    alt=""
                    src="assets/hacker.jpg"
                  />

                  <div class="number-of-additional-nfts4">
                    <b class="b4">1025+</b>
                  </div>
                </div>
              </div>
              <div class="collection-info4">
                <h3 class="collection-name4">
                  <p class="ethical-hacker">Ethical Hacker</p>
                  <p class="yrs30-40-lacs-pa">凸 3-4 Yrs|30-40 Lacs PA</p>
                  <p class="mahim-mumbai1">Mahim, Mumbai</p>
                </h3>
                <div class="artist-card4">
                    <div class="avatar4">
                      <img
                        class="asset-12-24"
                        alt=""
                        src="assets/hacker.jpg"
                      />
                    </div>
                    <div class="artist-name4">Contact us: 7782899029</div>
                  </div>
                </div>
              </div>
              <div class="collection-card5">
                <div class="photos-number-of-additional5">
                  <img
                    class="primary-photo-placeholder5"
                    loading="lazy"
                    alt=""
                    src="assets/stock.jpg"
                  />

                  <div class="secondary-photo-placeholder-parent2">
                    <img
                      class="secondary-photo-placeholder10"
                      alt=""
                      src="assets/stock.jpg"
                    />

                    <img
                      class="secondary-photo-placeholder11"
                      alt=""
                      src="assets/stock.jpg"
                    />

                    <div class="number-of-additional-nfts5">
                      <b class="b5">1025+</b>
                    </div>
                  </div>
                </div>
                <div class="collection-info5">
                  <h3 class="collection-name5">
                    <p class="stock-analyst">Stock Analyst</p>
                    <p class="yrs8-10-lacs-pa1">凸 1-2 Yrs|8-10 Lacs PA</p>
                    <p class="vasai-mumbai2">Vasai, Mumbai</p>
                  </h3>
                  <div class="artist-card5">
                    <div class="avatar5">
                      <img
                        class="asset-12-25"
                        alt=""
                        src="assets/stock.jpg"
                      />
                    </div>
                    <div class="artist-name5">Contact us: 6732891563</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer-info">
          <div class="nft-marketplace-info">
            <div class="nav-logo1">
              <img
                class="bird-2-removebg-preview-1-icon1"
                loading="lazy"
                alt=""
                src="assets/logo.png"
              />

              <h3 class="careerotaku1">CareerOtaku</h3>
            </div>
            <div class="additional-info">
              <div class="a-place-to">A place to find yourself</div>
              <div class="community-info">
                <div class="join-our-community">Join our community</div>
                <div class="icons">
                  <img
                    class="discordlogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/tele.png"
                    id="discordLogoIcon"
                  />
                  <img
                    class="youtubelogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/you.png"
                    id="youtubeLogoIcon"
                  />

                  <img
                    class="twitterlogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/whatsapp.png"
                    id="twitterLogoIcon"
                  />

                  <img
                    class="instagramlogo-icon"
                    loading="lazy"
                    alt=""
                    src="assets/insta.png"
                    id="instagramLogoIcon"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="explore">
            <h3 class="explore1">Explore</h3>
            <div class="pages">
              <div class="career-test">Career Test</div>
              <div class="job-search1">Job Search</div>
            </div>
          </div>
          <div class="subscribe">
            <h3 class="contact-us">Contact us</h3>
            <div class="subscribe-form-info">
              <div class="write-your-quries">Write your quries</div>
              <div class="subscribe-form">
                <div class="enter-your-email">Write your Queriees</div>
                <button class="button4" id="button">
                  <img
                    class="envelopesimple-icon"
                    alt=""
                    src="assets/email.png"
                  />

                  <div class="button5">Email us</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
            <div class="divider"></div>
            <div class="nft-market-use">
              Ⓒ NFT Market. Use this template freely.
            </div>
          </div>
        </footer>
      </div>
  
      <script>
        var navLogo = document.getElementById("navLogo");
        if (navLogo) {
          navLogo.addEventListener("click", function (e) {
            // Please sync "CareerOtaku" to the project
            window.location.href ="careerotaku.html"
          });
        }
        
        var marketplaceContainer = document.getElementById("marketplaceContainer");
        if (marketplaceContainer) {
          marketplaceContainer.addEventListener("click", function (e) {
            // Please sync "Career Test" to the project
            window.location.href ="Careertest.html"
          });
        }
        
        var buttonText2 = document.getElementById("buttonText2");
        if (buttonText2) {
          buttonText2.addEventListener("click", function (e) {
            // Please sync "Profile" to the project
            window.location.href ="profile.html"

          });
        }
        
        var signUp = document.getElementById("signUp");
        if (signUp) {
          signUp.addEventListener("click", function (e) {
            // Please sync "Create Account (sign in)" to the project
            window.location.href ="signin.html"

          });
        }
        
        var discordLogoIcon = document.getElementById("discordLogoIcon");
        if (discordLogoIcon) {
          discordLogoIcon.addEventListener("click", function () {
            window.open("https://t.me/+125WY9rDlIQ3YzI1");
          });
        }
        
        var youtubeLogoIcon = document.getElementById("youtubeLogoIcon");
        if (youtubeLogoIcon) {
          youtubeLogoIcon.addEventListener("click", function () {
            window.open("https://youtube.com/@user-vx9ps6dx6j?si=vBeSAT4pNS0RmQkQ");
          });
        }
        var twitterLogoIcon = document.getElementById("twitterLogoIcon");
      if (twitterLogoIcon) {
        twitterLogoIcon.addEventListener("click", function () {
          window.open("https://chat.whatsapp.com/GjA2bM8lCRk48ER2Kk7L97");
        });
      }
      
      var instagramLogoIcon = document.getElementById("instagramLogoIcon");
      if (instagramLogoIcon) {
        instagramLogoIcon.addEventListener("click", function () {
          window.open(
            "https://www.instagram.com/career_guidance_platform?utm_source=qr&igsh=amtreGx3djFubjg4"
          );
        });
      }
      
      const button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function () {
          window.location.href = "mailto:guidingcareerpaths@gmail.com";
        });
      }
      </script>
  </body>
</html>
        