<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global6.css" />
    <link rel="stylesheet" href="styles/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:ital,wght@0,400;0,600;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Mono:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="profile">
      <header class="navigation">
        <div class="nav-logo" id="navLogo">
          <img
            class="bird-2-removebg-preview-1-icon"
            loading="lazy"
            alt=""
            src="assets/logo.png"
          />

          <h3 class="careerotaku">CareerOtaku</h3>
        </div>
        <div class="nav-nav-menu">
          <div class="marketplace" id="marketplaceContainer">
            <img
              class="rocketlaunch-icon"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button">Career Test</div>
          </div>
          <div class="rankings">
            <img
              class="rocketlaunch-icon1"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button1" id="buttonText1">Job Search</div>
          </div>
          <div class="connect-a-wallet">
            <img
              class="rocketlaunch-icon2"
              alt=""
              src="assets/rocket.png"
            />

            <div class="button2">Profile</div>
          </div>
          <button class="sign-up" id="signUp">
            <img class="user-icon" alt="" src="assets/user.png" />

            <div class="button3">Sign Up</div>
          </button>
        </div>
      </header>
      <section class="cover-profile-image" id="coverProfileImage">
        <img
          class="image-placeholder-icon"
          alt=""
          src="assets/bg1.png" height="500"
        />

        <div class="profile-image">
          <div class="avatar">
            <img
              class="asset-12-2"
              loading="lazy"
              alt=""
              src="assets/profile.jpg"
              id="editableImage"
              onclick="editImage()"
            />
          </div>
          
          </div>
        </div>
      </section>
      <section class="main-content">
        <section class="artist-info">
          <div class="artist-info-section">
            <div class="artist-name-button">
              <div class="artist-info1">
                <h1 id="namer" class="artist-name" contenteditable="true">WiciousPofo</h1>
                <div class="stats">
                  <div class="total-sale">
                    <b class="k">250k+</b>
                    <div class="total-sale1">Volume</div>
                  </div>
                  <div class="auctions">
                    <b class="k1">50+</b>
                    <div class="auctions1">NFTs Sold</div>
                  </div>
                  <div class="artists">
                    <b class="k2">3000+</b>
                    <div class="artists1">Followers</div>
                  </div>
                </div>
                <div class="bio">
                  <h3 class="bio1">Bio</h3>
                  <h3 class="the-internets-friendliest-container">
                    <p class="the-internets-friendliest" contenteditable="true">
                      The internet's friendliest designer kid. Loves cooking and Music.
                    </p>
                    
                    <p class="blank-line">&nbsp;</p>
                    <p class="age-20">
                      <span>Age: </span>
                      <span contenteditable="true">20</span>
                    </p>
                    
                    <p class="student">
                      <span>Student/Professional: </span>
                      <span contenteditable="true">Student</span>
                    </p>
                                        <p class="institution-name-xavier">
                      <u><b>Institution name:</b></u>
                    </p>
                    
                    <p class="institution-name-xavier" contenteditable="true">
                       Xavier Institute of engineering
                    </p>
                    
                  </h3>
                </div>
                <div class="web-links">
                  <b class="links">Links</b>
                  <div class="icons">
                   

                   
                  </div>
                </div>
              </div>
              <div class="ctas">
                <button class="button4">
                  <img class="copy-icon" alt="" src="assets/copy.png" />

                  <div class="button5">Followers</div>
                </button>
                <button class="button6">
                  <img class="plus-icon" alt="" src="assets/plus.png" />

                  <div class="button7">Follow</div>
                </button>
              </div>
            </div>
          </div>
        </section>
        <div class="type-form">
          <div class="form-containers">
            <img class="user-icon1" alt="" src="assets/user.png" />
          </div>
          <div class="wiciouspofo01">Wiciouspofo01</div>
          <div class="form-containers1">
            <img class="eyeslash-icon" alt="" src="assets/eye2.png" />
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-info">
          <div class="nft-marketplace-info">
            <div class="nav-logo1">
              <img
                class="bird-2-removebg-preview-1-icon1"
                loading="lazy"
                alt=""
                src="assets/logo.png"
              />

              <h3 class="careerotaku1">CareerOtaku</h3>
            </div>
            <div class="additional-info">
              <div class="a-place-to">A place to find yourself</div>
              <div class="community-info">
                <div class="join-our-community">Join our community</div>
                <div class="icons1">
                  <img
                    class="discordlogo-icon1"
                    loading="lazy"
                    alt=""
                    src="assets/tele.png"
                    id="discordLogoIcon"
                  />

                  <img
                    class="youtubelogo-icon1"
                    loading="lazy"
                    alt=""
                    src="assets/you.png"
                    id="youtubeLogoIcon"
                  />

                  <img
                    class="twitterlogo-icon1"
                    loading="lazy"
                    alt=""
                    src="assets/whatsapp.png"
                    id="twitterLogoIcon"
                  />

                  <img
                    class="instagramlogo-icon1"
                    loading="lazy"
                    alt=""
                    src="assets/insta.png"
                    id="instagramLogoIcon"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="explore">
            <h3 class="explore1">Explore</h3>
            <div class="pages">
              <div class="career-test">Career Test</div>
              <div class="job-search">Job Search</div>
            </div>
          </div>
          <div class="subscribe">
            <h3 class="contact-us">Contact us</h3>
            <div class="subscribe-form-info">
              <div class="write-your-quries">Write your quries</div>
              <div class="subscribe-form">
                <div class="enter-your-email">Write your Queriees</div>
                <button class="button8" id="button2">
                  <img
                    class="envelopesimple-icon"
                    alt=""
                    src="assets/email.png"
                  />

                  <a
                    class="button9"
                    href="mailto:guidingcareerpaths@gmail.com"
                    target="_blank"
                    >Email us</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="divider-parent">
          <div class="divider"></div>
          <div class="nft-market-use">
            Ⓒ NFT Market. Use this template freely.
          </div>
        </div>
      </section>
    </div>

    <div id="avatarsPopup" class="popup-overlay" style="display: none">
      <div class="avatars">
        <section class="main-layout">
          <div class="shape-container"></div>
          <b class="avatars1">Followers</b><br>
        </section>
        <section class="avatar-layout-wrapper">
          <div class="avatar-layout">
            <div class="avatar-row">
              <img
                class="avatar-1-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a1.jpg"
                id="popupavatar1Image"
              />

              <img
                class="avatar-2-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a2.jpg"
                id="popupavatar2Image"
              />

              <img
                class="avatar-3-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a3.jpg"
                id="popupavatar3Image"
              />

              <img
                class="avatar-4-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a4.jpeg"
                id="popupavatar4Image"
              />

              <img
                class="avatar-5-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a5.jpg"
                id="popupavatar5Image"
              />

              <img
                class="avatar-6-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a6.jpg"
                id="popupavatar6Image"
              />

              <img
                class="avatar-7-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a7.jpg"
                id="popupavatar7Image"
              />

              <img
                class="avatar-8-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a8.jpg"
                id="popupavatar8Image"
              />

              <img
                class="avatar-9-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a9.jpg"
                id="popupavatar9Image"
              />

              <img
                class="avatar-10-icon"
                loading="lazy"
                alt=""
                src="assets/avatars/a10.jpg"
                id="popupavatar10Image"
              />
            </div>
            <div class="avatar-grid">
              <div class="avatar-11-parent">
                <img
                  class="avatar-11-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a11.jpg"
                  id="popupavatar11Image"
                />

                <img
                  class="avatar-16-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a16.jpg"
                  id="popupavatar16Image"
                />
              </div>
              <div class="avatar-12-parent">
                <img
                  class="avatar-12-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a12.jpg"
                  id="popupavatar12Image"
                />

                <img
                  class="avatar-17-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a17.jpg"
                  id="popupavatar17Image"
                />
              </div>
              <div class="avatar-13-parent">
                <img
                  class="avatar-13-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a13.jpg"
                  id="popupavatar13Image"
                />

                <img
                  class="avatar-18-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a18.jpeg"
                  id="popupavatar18Image"
                />
              </div>
              <div class="avatar-14-parent">
                <img
                  class="avatar-14-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a14.jpg"
                  id="popupavatar14Image"
                />

                <img
                  class="avatar-19-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a19.jpg"
                  id="popupavatar19Image"
                />
              </div>
              <div class="avatar-15-parent">
                <img
                  class="avatar-15-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a15.jpg"
                  id="popupavatar15Image"
                />

                <img
                  class="avatar-20-icon"
                  loading="lazy"
                  alt=""
                  src="assets/avatars/a20.jpg"
                  id="popupavatar20Image"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script>

function editImage() {
  var imageElement = document.getElementById("editableImage");
  
  // Create an input element of type file
  var input = document.createElement("input");
  input.type = "file";
  input.accept = "image/*";

  // Trigger click event on the input element
  input.click();

  // Event listener to handle file selection
  input.addEventListener("change", function() {
    // Get the selected file
    var file = input.files[0];

    // Validate file type (optional)
    var validImageTypes = ["image/jpeg", "image/png", "image/gif"];
    if (!validImageTypes.includes(file.type)) {
      alert("Please select a valid image file (JPEG, PNG, GIF).");
      return;
    }

    // Read the selected file as a data URL
    var reader = new FileReader();
    reader.onload = function(event) {
      // Set the src attribute of the image to the data URL
      imageElement.src = event.target.result;
    };
    reader.readAsDataURL(file);
  });
}

const namer=document.getElementById("namer")
function seter(){
  namer.innerHTML=localStorage.getItem("user")
}
window.onload=seter()

      
      var popupavatar1Image = document.getElementById("popupavatar1Image");
      if (popupavatar1Image) {
        popupavatar1Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar2Image = document.getElementById("popupavatar2Image");
      if (popupavatar2Image) {
        popupavatar2Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar3Image = document.getElementById("popupavatar3Image");
      if (popupavatar3Image) {
        popupavatar3Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar4Image = document.getElementById("popupavatar4Image");
      if (popupavatar4Image) {
        popupavatar4Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }

      var popupavatar5Image = document.getElementById("popupavatar5Image");
      if (popupavatar5Image) {
        popupavatar5Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar6Image = document.getElementById("popupavatar6Image");
      if (popupavatar6Image) {
        popupavatar6Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar7Image = document.getElementById("popupavatar7Image");
      if (popupavatar7Image) {
        popupavatar7Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar8Image = document.getElementById("popupavatar8Image");
      if (popupavatar8Image) {
        popupavatar8Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar9Image = document.getElementById("popupavatar9Image");
      if (popupavatar9Image) {
        popupavatar9Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar10Image = document.getElementById("popupavatar10Image");
      if (popupavatar10Image) {
        popupavatar10Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar11Image = document.getElementById("popupavatar11Image");
      if (popupavatar11Image) {
        popupavatar11Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar16Image = document.getElementById("popupavatar16Image");
      if (popupavatar16Image) {
        popupavatar16Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar12Image = document.getElementById("popupavatar12Image");
      if (popupavatar12Image) {
        popupavatar12Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar17Image = document.getElementById("popupavatar17Image");
      if (popupavatar17Image) {
        popupavatar17Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar13Image = document.getElementById("popupavatar13Image");
      if (popupavatar13Image) {
        popupavatar13Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar18Image = document.getElementById("popupavatar18Image");
      if (popupavatar18Image) {
        popupavatar18Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar14Image = document.getElementById("popupavatar14Image");
      if (popupavatar14Image) {
        popupavatar14Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar19Image = document.getElementById("popupavatar19Image");
      if (popupavatar19Image) {
        popupavatar19Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar15Image = document.getElementById("popupavatar15Image");
      if (popupavatar15Image) {
        popupavatar15Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popupavatar20Image = document.getElementById("popupavatar20Image");
      if (popupavatar20Image) {
        popupavatar20Image.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var navLogo = document.getElementById("navLogo");
      if (navLogo) {
        navLogo.addEventListener("click", function (e) {
          // Please sync "CareerOtaku" to the project
          window.location.href ="careerotaku.html"

        });
      }
      
      var marketplaceContainer = document.getElementById("marketplaceContainer");
      if (marketplaceContainer) {
        marketplaceContainer.addEventListener("click", function (e) {
          // Please sync "Career Test" to the project
          window.location.href ="Careertest.html"

        });
      }
      
      var buttonText1 = document.getElementById("buttonText1");
      if (buttonText1) {
        buttonText1.addEventListener("click", function (e) {
          // Please sync "Job Search" to the project
          window.location.href ="job-search.html"

        });
      }
      
      var signUp = document.getElementById("signUp");
      if (signUp) {
        signUp.addEventListener("click", function (e) {
          // Please sync "Create Account (sign in)" to the project
          window.location.href ="signin.html"

        });
      }
      
      var followersButton = document.querySelector(".button5");
if (followersButton) {
  followersButton.addEventListener("click", function () {
    var popup = document.getElementById("avatarsPopup");
    if (!popup) return;
    var popupStyle = popup.style;
    if (popupStyle) {
      popupStyle.display = "flex";
      popupStyle.zIndex = 100;
      popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
      popupStyle.alignItems = "center";
      popupStyle.justifyContent = "center";
    }
    popup.setAttribute("closable", "");

    var onClick =
      popup.onClick ||
      function (e) {
        if (e.target === popup && popup.hasAttribute("closable")) {
          popupStyle.display = "none";
        }
      };
    popup.addEventListener("click", onClick);
  });
}


      
      var globeIcon = document.getElementById("globeIcon");
      if (globeIcon) {
        globeIcon.addEventListener("click", function () {
          window.open("https://www.animaapp.com");
        });
      }
      
      var discordLogoIcon = document.getElementById("discordLogoIcon");
      if (discordLogoIcon) {
        discordLogoIcon.addEventListener("click", function () {
          window.open("https://www.animaapp.com");
        });
      }
      
      var youtubeLogoIcon = document.getElementById("youtubeLogoIcon");
      if (youtubeLogoIcon) {
        youtubeLogoIcon.addEventListener("click", function () {
          window.open("https://www.animaapp.com");
        });
      }
      
      var twitterLogoIcon = document.getElementById("twitterLogoIcon");
      if (twitterLogoIcon) {
        twitterLogoIcon.addEventListener("click", function () {
          window.open("https://www.animaapp.com");
        });
      }
      
      var instagramLogoIcon = document.getElementById("instagramLogoIcon");
      if (instagramLogoIcon) {
        instagramLogoIcon.addEventListener("click", function () {
          window.open("https://www.animaapp.com");
        });
      }
      
      var discordLogoIcon = document.getElementById("discordLogoIcon");
      if (discordLogoIcon) {
        discordLogoIcon.addEventListener("click", function () {
          window.open("https://t.me/+125WY9rDlIQ3YzI1");
        });
      }
      var youtubeLogoIcon = document.getElementById("youtubeLogoIcon");
      if (youtubeLogoIcon) {
        youtubeLogoIcon.addEventListener("click", function () {
          window.open("https://youtube.com/@user-vx9ps6dx6j?si=vBeSAT4pNS0RmQkQ");
        });
      }
      
      var twitterLogoIcon = document.getElementById("twitterLogoIcon");
      if (twitterLogoIcon) {
        twitterLogoIcon.addEventListener("click", function () {
          window.open("https://chat.whatsapp.com/GjA2bM8lCRk48ER2Kk7L97");
        });
      }
      
      var instagramLogoIcon = document.getElementById("instagramLogoIcon");
      if (instagramLogoIcon) {
        instagramLogoIcon.addEventListener("click", function () {
          window.open(
            "https://www.instagram.com/career_guidance_platform?utm_source=qr&igsh=amtreGx3djFubjg4"
          );
        });
      }
      
      const button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function () {
          window.location.href = "mailto:guidingcareerpaths@gmail.com";
        });
      }
      </script>
  </body>
</html>